---
import {Button} from '../ui/button'
import {PROFILE} from "../../content/profileData";
---

<div class="relative flex h-full w-full animate-appear flex-col md:flex-row">

  <div class="flex flex-1 flex-col justify-between gap-4 md:max-h-[300px]">
    <div class="flex h-full flex-col">
      <!-- <h6 class="m-0 text-sm font-light text-gray-500">
      @TechTim42
      </h6> -->
      <p class="m-0 text-xl font-light">
        <b>System Administrator | DevOps</b>
      </p>
      <p class="m-0 text-l font-light">
        Andorra
      </p>
      <ul class="pt-4">
        {PROFILE.shortIntros.map((intro, index) => (
          <>
            {index === (PROFILE.shortIntros.length / 2)
              //when it is even number, and in the middle add an empty line

              ? <br/>
              :
              <></>
            }
            <li>{intro}</li>
          </>
        ))}
      </ul>
    </div>
  </div>
  <img
    src={PROFILE.avatarUrl}
    class="pointer-events-none relative mx-auto mt-3 max-h-[128px] max-w-[128px] w-auto select-none 
    md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100 md:max-h-[200px] md:max-w-[200px]"
    alt={`image of ${PROFILE.name}`}
  />
</div>

